---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

header.site-header {
    position: fixed;
    height: 3.5em;
    width: 100%;
    background: inherit
}

main.page-content{
    margin: 3.5em;
}

.github-link img{
    height: 1em;
    width: 1em;
}

img.header-icon {
    float: left;
    height: 3em;
    width: auto;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

div.social-icon-container {
    display: grid;
    grid-template-columns: 4em 4em 4em;
    grid-template-rows: 4em;
    justify-content: end;
}
